<strong>Olá, {{ deliverer }}.</strong>
<p>Seu pedido foi cancelado devido ao problema relatado:</p>
<p>
  <strong>Descrição: </strong> {{ description }} <br />
</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <strong>Endereço:</strong> <br />
    <strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
    <strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
    <strong>CEP: </strong> {{ zip_code }}
</p>
