<strong>Olá, {{ deliverer }}.</strong>
<p>Existe uma nova encomenda para retirada</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <strong>Endereço:</strong> <br />
    <strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
    <strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
    <strong>CEP: </strong> {{ zip_code }}
</p>
<p>
  <small>
    Horário de retirada das 8h às 18h.
  </small>
</p>
